body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;

  background: linear-gradient(180deg,#3ec5ff,#0077b6);
  height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;
}

.container{
  text-align:center;
}

h1{
  color:white;
  margin-bottom:20px;
}

.calculadora{

  background:white;
  padding:30px;
  border-radius:15px;

  box-shadow:0 10px 25px rgba(0,0,0,0.2);

  width:300px;
}

input{

  width:100%;
  padding:10px;
  margin-bottom:10px;

  border-radius:8px;
  border:1px solid #ccc;

  font-size:16px;
}

.botoes{

  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:10px;

  margin-top:10px;
}

button{

  padding:10px;
  font-size:16px;

  border:none;
  border-radius:8px;

  background:#00b4d8;
  color:white;

  cursor:pointer;
  transition:0.2s;
}

button:hover{
  background:#0077b6;
}

.limpar{
  grid-column: span 3;
  background:#ff6b6b;
}

.limpar:hover{
  background:#e63946;
}

h2{
  margin-top:20px;
  color:#023e8a;
}